
section()
  h2 Classes and Hooks
  section 
    span.left Class 
    span.right Hook
    image.r-frame(src='images/hook2.png' width="1500")
  section
    span.left no Hook 
    span.right Hook
    image.r-frame(src='images/hook3.png' width="1500")

    
