
section()
  h2 Lifecycle Methods
  section 
    image.r-frame.padding(src='images/classClock.PNG' width="500")
  section 
    image.r-frame.padding(src='images/unidirectional.PNG' width="500")

    
