
section()
  h2 What Is React?
  section 
    p React is a declarative, efficient, and flexible JavaScript library for building user interfaces. It lets you compose complex UIs from small and isolated pieces of code called “components”.
  section 
    h3 Declarative
    image(src='images/Declarative.PNG')
  section 
    h3 Component-Based
    image(src='images/Component-Based.png')



