
section()
  h2 A Simple Component
  section
    image(src='images/simpleComponent.PNG')
  section
    | JSX
    image(src='images/JSX.PNG')
    span JSX in Babel
    image(src='images/Babel.png')
  section
    |styled components
    em  (very little)
    image(src='images/styledComponents.PNG')
  section Embedding Expressions in JSX
    image.r-frame(src='images/JSXEmbedding.PNG' width="700")
    image.r-frame(src='images/JSXEmbedding2.PNG' width="700")
  section JSX is an Expression Too
    image.r-frame(src='images/JSXif.PNG')
    image.r-frame(src='images/JSXif2.PNG')
  section  Function and Class Components
    image(src='images/functionalСomponent.PNG')
    image(src='images/classСomponent.PNG')
  section Composing Components
    image.r-frame(src='images/componentComposition.PNG' width="700")  
